<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939765837595-bhog6osmik8rupn6b9g3guk5e7n4l0le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939765837595-bhog6osmik8rupn6b9g3guk5e7n4l0le</string>
	<key>API_KEY</key>
	<string>AIzaSyCRKIayWOyxSlCu2IyGKMqHppG7Gz7SSDA</string>
	<key>GCM_SENDER_ID</key>
	<string>939765837595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.extel.umii</string>
	<key>PROJECT_ID</key>
	<string>umii-f55af</string>
	<key>STORAGE_BUCKET</key>
	<string>umii-f55af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939765837595:ios:e27bcf62f5d77c769c6dbe</string>
</dict>
</plist>