<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522218464281-juddrjbdp1f9eu5hls52l4fcogh4fiqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522218464281-juddrjbdp1f9eu5hls52l4fcogh4fiqe</string>
	<key>API_KEY</key>
	<string>AIzaSyCEG5F3CwwIL-5mJMawM7f1LVCW7-YigyE</string>
	<key>GCM_SENDER_ID</key>
	<string>522218464281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.enman.easyhome</string>
	<key>PROJECT_ID</key>
	<string>thomson-at-home</string>
	<key>STORAGE_BUCKET</key>
	<string>thomson-at-home.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522218464281:ios:6cf663e58d4e60dbdd3688</string>
</dict>
</plist>