<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8MP6HAzGU4dXFio4lnRhVU0zn_8zC68Y</string>
	<key>GCM_SENDER_ID</key>
	<string>863466372324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stellagroup.macalypshome.mobile</string>
	<key>PROJECT_ID</key>
	<string>stellagroup-defbe</string>
	<key>STORAGE_BUCKET</key>
	<string>stellagroup-defbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863466372324:ios:c1d4e4efeb49ea0a2b80f1</string>
</dict>
</plist>